.main{
    display: flex;
    gap: 20rem;
    padding: 20px;
}

.logo{
    width: 200px;
    height: 100px;

}

.menubar li{
    display: inline-block;
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}
