
.program-div{
    margin-left: 2rem;
}

.title{
    margin-left: 5rem;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.program-list{
    display: flex;
    gap: 2rem;
}

.program-list-element{
    padding: 0px 35px;
    background-color: var(--gray);
    color: white;
}
.program-list-img{
    padding: 50px 10px 0px 10px;
    height: 32px;
    width: 32px;
    fill: white;
}
.program-list-title{
    margin-top: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
}

.program-list-para{
    font-size: 16px;
    width: 17rem;

}
.program-list-btn{
    display: flex;
    gap: 3rem;
}

.rightarrow{
    margin-top: 29px;
    width: 20px;
    height: 15px;
}
.program-list-joinNow{
    font-size: 22px;
    font-weight: 400;
}

@media screen and (max-width:900px){

    .title{
        margin-left: 10px;
        font-size: 68px;
    }

    .program-list{
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
}