.testimonial-container{
    display: flex;
    gap: 16rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: white;
}
.testimonial-subtitle{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--orange);

}
.what-other-say{
    font-size: 4rem;
    font-weight: bold;
    width: 27rem;
    margin-top: 10px;
    margin: 15px;
    margin-left: 0px;

}

.their-saying-content{
    margin-top: 4rem;
    font-size: 20px;
    width: 40rem;
    letter-spacing: 3px;
    line-height: 38px;
}

.changing-arrow{
    display: flex;
}
.who-say{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--orange);
}

.who-say span{
    letter-spacing: 2px;
    color: white;
}

.changing-arrow-div{
    margin-top: -2px;
    margin-left: 10rem;
}
.changing-arrow img{
    height: 25px;
    width: 30px;
    margin: 1rem;
    
}

.timage{
    width: 20rem;
    height: 25rem;
}

.image-item span{
    width: 20rem;
    height: 25rem;
    background-color: var(--orange);
    position: absolute;
    margin: 1rem 1rem;
    z-index: -1;
}

.image-item .span2{
    width: 20rem;
    height: 25rem;
    border: 3px solid orange;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    margin: -1rem -1rem;
   
}
.hr-line{
    position: absolute;
    margin: -3px 50px;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
}
.ready-to-join{
    display: flex;
    gap: 25rem; 
    margin-top: 8rem; 
    margin-left: 2rem;
}
.ready-to-join-heading{
   
   
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 32rem;
}

.sent-mail-div{
    margin-top: 5rem;
    background-color: rgb(97, 97, 97);
    border-radius: 3px;
    display: flex;
    gap: 5rem;
    height: fit-content;
    padding: 1rem 2rem;

}
.sent-mail-div input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
    font-size: 18px;
}

::placeholder{
    color: var(--lightgray);

}
.sent-mail-div button{
    padding: 15px 25px;
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: none;
}